*{
    margin: 0;
    padding: 0;
}
.index-adm-page{
    height: 100vh;
}
.header-index{
    height: 14vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color:white;
    box-shadow: 0px 0px 6px #000;
}
.header-logo-container{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0 0 100px;
}
.opts-user{
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.sair-container,
.name-container{
    flex: 1;
}
.sair-container{
    display: flex;
    justify-content: flex-start;
    padding: 0 0 0 10px;
}
.sair-button{
    border: none;
    border-radius: 5px;
    margin: 0 10px;
    padding: 8px 20px;
    background-color: white;
    color: black;
    cursor:pointer;
}
.sair-button:hover {
    opacity: 1;
    transition: .3s;
}
.name-container{
    display: flex;
    justify-content: flex-end;
    margin-bottom:6px;
}
.logo-header{
    border: 1px;
    border-radius: 50%;
}
.img{
    width: 6vw;
    height: 6vw;
}

.cruds-container{
    margin: 30px 0 0 0;
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.crud-subcontainer{
    flex: 1;
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.box-opt{
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.349);
    border: 1px solid transparent;
    height: 90%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.932);
    color: white;
    text-decoration: none;
    border-radius: 10px;
}
